<h3>Agregar</h3>
<hr>
<form (ngSubmit)="agregar()">
  <input class="cajaTexto" 
         type="text" 
         placeholder="Nombre"
         name="nombre"
         [(ngModel)]="nuevo.nombre"
         >
         <input  class="cajaTexto" 
                 type="number" 
                 placeholder="Poder"
                 name="poder"
                 [(ngModel)]="nuevo.poder"                  >
                 <button type="submit">
                   Agregar
                 </button>
</form>
